
.layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    max-width: 1200px;
    flex-wrap: wrap;

}

.gallery-image {
    width: 360px;
    height: 200px;
}
